<%- include('../partials/_header') %>

<h2>Edytuj Projekt: <%= project.title %></h2>
<form action="/projects/<%= project.id %>/update" method="POST">
  <label for="title">Tytuł</label>
  <input type="text" id="title" name="title" value="<%= project.title %>" required>
  
  <label for="description">Opis</label>
  <textarea id="description" name="description" rows="4"><%= project.description %></textarea>
  
  <button type="submit">Zaktualizuj Projekt</button>
</form>

<%- include('../partials/_footer') %>